@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

	box-sizing: border-box;
} 
:root{
	--main-color: ;

	--second-color:#EAFFC6 #C7F8FF #FFCAC6;
}
html {
	scroll-behavior: smooth;
}

header{
	width: 100%;
	padding: 1rem 2rem;
	background-color: rosybrown ;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
nav > a {
	padding: 0.5rem;
	border: 2px solid transparent;
	text-decoration: none;
	font-size: 1.5rem;
	border-radius: 4px;
	color: white;
	transition: 0.3s ease;

}
nav > a:hover{
	background-color: #00acbc;

	border-bottom: 4px solid white;
}
.active {
		border-bottom: 4px solid white;

}
.img {
	width: 100%;
	height: auto;
}
.header_img_container{
	width: 100px;
}

main{
	width: 90%;
	margin: 2rem auto;
}
.hero {
	display: flex;
	align-items: center;
}

.hero-left, .hero-right{
	width: 50%;
	flex: 50%;

}
.hero-right{
	height: 500px;
}
.hero-right > img{
width: 100%;
height: 500px;
object-fit: cover;
}
.hero-left > h1{
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	padding-right: 1rem;
}
.quote{
	width: 50%;
	margin: 2rem auto;


}
.quote > h2 {
	text-align: center;
	font-size: 1.2rem;
	font-weight: 500;
	height: fit-content;
	position: relative;
}
.quote > h2::after {
	content: "\201D";
	font-size: 5rem;
	position: absolute;
	right: -10px;
 	}
	.quote > h2::before {
	content:"\201C" ;
	font-size: 5rem;
	position: absolute;
	left: -30px;
	top: -30px;

	} 

	.video {
	width: 100%;
	margin-top: 4rem;

		}
	.video > video{
	width: 100%;
	}
	.description{
		width: 70%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
		padding: 2rem;
		margin: 2rem auto;
		border-radius: 1rem;
		text-align: center;

	}
	.description > h2{
		font-size: 2.5rem;
		line-height: 151%;
		font-weight: 700;

	}
	.description > h3 {
		font-size: 1.2rem;
		line-height: 151%;
		font-weight: 500;
		color: rosybrown;
		
	}
	.description > p {
			font-size: 1rem;
			line-height: 151%;
			margin: 0.4rem 0;
			text-align: left;
			
	}
	.feature{
		display: flex;
		flex-direction: row-reverse;
		margin: 1rem 0;
		gap: 2rem;

	}
	.feature:nth-of-type(even){
		flex-direction: row;
	}

	.feature_image > img {
		width: 256px;
		height: 256px;
		object-fit: cover;

	}

	.feature__text {
		flex: 1;
		margin: 2rem;
	}





#scrollTop {
	width: 48px;
	height: 48px;
	position: fixed;
	bottom: 30px;
	right: 10px;
	background-color: rosybrown;
}
	.form {
		width: 600px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 4rem;
		justify-content: center;
		background-color: lightgrey;
		margin: auto;
		border: 4px dashed #999999;
	}
	.form > input{
		padding: 0.5rem 1rem;
		border-radius: 4rem;
		border: none;
		width: 90%;
		margin: 0.5rem 0;
	}

	.form > textarea{
		padding: 0.5rem 1rem;
		resize: vertical;
		border: none;
		margin: 0.5rem 0;

		border-radius: 4px;
		width: 90%;}
.form > button {
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 4px;
	width: 90%;
}

.swiper{
	width: 600px;
	height: 300px;
	margin-top: 2rem;
}


.swiper-slide > img {
	object-fit: cover;
}

footer {

	padding: 2rem 3rem;
	width: 100%;
	background-color: rosybrown;
	margin-top: 3rem;
}

.footer-conteiner{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.footer-container{
	color: white;
	font-size: 1,1rem;

	
}





.icons-container{
	display: flex;
	flex-wrap: wrap;
}


.icons-container > img {
	width: 48px;
	height: 48px;
	object-fit: cover;
}






































